---
import { getEntries } from 'astro:content'
import { Image } from 'astro:assets'

import { Icon } from 'astro-icon/components'

import Layout from '~/layouts/detail.astro'

import { latest } from '~/utils'

export const getStaticPaths = async () => {
  const { data } = latest

  const { partners } = data

  const enties = await getEntries(partners)

  return enties.map((entry) => {
    const { slug } = entry

    return {
      params: { slug },
      props: { entry },
    }
  })
}

const { entry } = Astro.props

const { data, render } = entry

const { name, industry, logo, contact } = data

const { website, socials } = contact

const { Content } = await render()
---

<Layout title={name}>
  <a class="font-mono underline transition-colors text-green hover:text-green/80" href="/partners" slot="previous">
    View all partners
  </a>

  <article class="flex flex-col md:flex-row md:gap-4">
    <aside class="md:w-64">
      <Image class="block object-contain w-full h-56 md:h-auto" src={logo } alt={name} />

      <div class="flex justify-center mt-4 sm:mt-8">
        {socials.map((social) => {
          const [[name, href]] = Object.entries(social)

          return (
            <a class="transition hover:bg-brown/40 hover:shadow focus:ring focus:ring-brown/40 focus:outline-none" {href}>
              <Icon name={`mdi:${name}`} class="w-10 h-10 p-2 fill-brown" />
            </a>
          )
        })}
      </div>

      <a class="block mt-4 text-center underline transition-colors text-green hover:text-green/80 sm:mt-8" href={website}>
        Learn more about {name}
      </a>
    </aside>

    <main class="flex-1">
      <h2 class="mt-8 font-mono text-2xl font-bold sm:mt-12 md:mt-0 text-red">About {name}</h2>
      <p class="mt-2 text-md text-brown/60">{industry}</p>

      <div class="my-4 prose text-justify max-w-none sm:mt-6">
        <Content />
      </div>
    </main>
  </article>
</Layout>
