---
import { Image } from 'astro:assets'
import { getCollection, getEntries, getEntry } from 'astro:content'

import Section from '~/components/Section.astro'

import Layout from '~/layouts/section.astro'

const [entry] = await getCollection('editions')
  .then((entries) => entries.slice(-1))

const { id, data } = entry

const { date, partners, venue } = data

const name = await getEntry(venue)
  .then(({ data }) => data.name)
---

<Layout edition={id} title="Our Partners" {date} venue={name}>
  <Section>
    <h1 class="font-mono text-3xl font-bold text-red sm:text-4xl">Our Partners</h1>

    <p class="mt-4 sm:mt-8">
      Without the generous support of our partners' exec(ut) would not have been
      possible. Below you can find a list of our partners, most of which you
      will be able to meet on the day itself. They will be attending exec(ut)
      with a stand, so make sure to stop by and have a chat!
    </p>

    {partners && Object.entries(partners).map(async ([tier, partners]) => {
      const entries = await getEntries(partners)

      return (
        <div class="mt-6 sm:mt-10">
          <h2 class="font-mono text-2xl font-bold capitalize text-red">
            {`${tier} ${partners.length > 1 ? 'Partners' : 'Partner'}`}
          </h2>

          <article class="grid grid-cols-1 gap-4 mt-2 md:grid-cols-2 lg:grid-cols-3">
            {entries.map(({ slug, data }) => {
              const { name, industry, logo } = data

              return (
                <a class="p-2 transition hover:drop-shadow hover:bg-subtle-highlight" href={`/partners/${slug}`}>
                  <Image class="block object-contain w-full h-56" src={logo} alt={name} />

                  <h1 class="mt-2 font-mono text-lg font-bold">{name}</h1>
                  <p class="font-mono italic text-brown/40">{industry}</p>
                </a>
              )
            })}
          </article>
        </div>

        <hr class="w-full mt-4 text-subtle-highlight sm:mt-8" />
      )
    })}
  </Section>
</Layout>
