---
import { Image } from 'astro:assets'
import { getCollection, getEntries, getEntry } from 'astro:content'

import Layout from '~/layouts/section.astro'

import Program from '~/components/Programme.astro'
import Section from '~/components/Section.astro'

import type { Code } from 'astro:components'

const [entry] = await getCollection('editions')
  .then((entries) => entries.slice(-1))

  const { id, data } = entry

const { date, programme, host, speakers, talks, workshops, venue } = data

const name = await getEntry(venue)
  .then(({ data }) => data.name)

const entries = speakers ? await getEntries(speakers) : []

if (host) entries.push(await getEntry(host))
---

<Layout edition={id} title="Programme" {date} venue={name}>
  <Section>
    <h1 class="font-mono text-3xl font-bold text-red sm:text-4xl">Programme</h1>

    {programme ? (
      <p class="mt-4 sm:mt-8">
        On {new Intl.DateTimeFormat('en-GB', {
          day: 'numeric',
          month: 'long',
          year: 'numeric',
        }).format(date)} the {name} will host {talks ? talks.length : 'a number of'}
        consecutive speakers, each of whom will give a talk on a particular aspect
        of software and technology.
      </p>

      <p class="mt-4 sm:mt-8">
        Asside from these talks we will also host
        {workshops ? workshops.length : 'a number of'} workshops throughout the
        day! You can sign up for these workshops using our
        <a class="underline transition-colors text-green hover:text-green/80" href={`https://pretix.svsticky.nl/execut/${id}/`}>ticket store</a>.
      </p>

      <Program {programme} />

      <p class="mt-4 sm:mt-8">
        Short breaks (5 minutes) are provided between talks.
      </p>
    ) : (
      <p class="mt-4 sm:mt-8">
        The programme for this edition has not yet been announced. Please check
        back later!
      </p>
    )}
  </Section>

  <Section id="speakers">
    <h1 class="font-mono text-3xl font-bold text-red sm:text-4xl">Speakers</h1>

    <p class="mt-4 sm:mt-8">
      Our speakers come from a wide variety of backgrounds and will be
      presenting an equally wide variety of interesting talks. Below you can
      find their bios and talk-abstracts, providing you with a sneak peak into
      their presentations.
    </p>

    <div class="grid grid-cols-2 gap-2 mt-8 sm:mt-12 sm:grid-cols-3 md:grid-cols-4">
      {entries && entries.map(({ slug, data }) => {
        const { name, description, portrait, host } = data

        return (
          <a class="p-1 transition hover:bg-subtle-highlight hover:drop-shadow" href={`/speakers/${slug}`}>
            <Image class="w-full" src={portrait} alt={name} />

            <h1 class="mt-2 font-mono text-lg font-bold">
              {host ? `${name} (host)` : `${name}`}
            </h1>
            <p class="font-mono italic text-brown/40">{description}</p>
          </a>
        )
      })}
    </div>
  </Section>
</Layout>
