---
import { getEntry, type CollectionEntry } from 'astro:content'

interface Props {
  programme: CollectionEntry<'editions'>['data']['programme']
}

const { programme } = Astro.props
---

<ul class="flex flex-col gap-2 my-8 -mx-4 font-mono sm:gap-4 sm:my-12">
  <li class="flex gap-2 p-2 -mb-2 italic">
    <p class="flex-1">activities</p>
    <p>starts @</p>
  </li>

  {programme && programme.map(async (slot) => {
    const { type, time } = slot

    switch (type) {
    case 'common':
      const { title } = slot

      return (
        <li class="flex items-center gap-2 p-2 text-white bg-green drop-shadow">
          <p class="flex-1">{title}</p>
          <time class="w-12 text-right">{time}</time>
        </li>
      )

    case 'talk':
      const { activities } = slot

      return (
        <li class="flex items-center gap-2 px-2">
          {activities.map(async ({ type, activity }) => {
            if (type === 'talk') {
              const entry = await getEntry(activity)

              const { slug, data } = entry

              const { title, speaker } = data

              const name = await getEntry(speaker)
                .then(({ data }) => data.name)

              return (
                <a class="flex-1 transition-opacity blok hover:opacity-80" href={`/speakers/${slug}`}>
                  <small class="text-brown/60">{name}</small>
                  <p>{title}</p>
                </a>
              )
            }

            if (type === 'workshop') {
              const entry = await getEntry(activity)

              const { slug, data } = entry

              const { title, organizer } = data

              const name = await getEntry(organizer)
                .then(({ data }) => data.name)

              return (
                <a class="flex-1 transition-opacity blok hover:opacity-80" href={`/workshops/${slug}`}>
                  <small class="text-brown/60">{name}</small>
                  <p>{title}</p>
                </a>
              )
            }
          })}

          <time class="w-12 text-right">{time}</time>
        </li>
      )
    }
  })}
</ul>
